.about-section {
	margin-top: 1rem;
}
.about-imge-container {
	width: 40%;
}
.about-imge-container img {
	width: 60%;
}

.about-desc-container {
	width: 70%;
}
.about-desc-container p {
	width: 80%;
	margin: 2rem 0;
}

.lable-list {
	flex-wrap: wrap;
	width: 70%;
	gap: 1rem;
	padding: 2rem;
}
